/* Estilos CSS 
{decodev}
25-07-2019
*/

html, body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
    overflow: hidden;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 20px white;
}

@media screen and (max-width: 360px){
    .titulo{
        padding: 30px;
        font-size: 35px;
    }
}

.titulo-jugador{
    font-size: 45px;
}

@media screen and (max-width: 768px){
    .titulo-jugador{
        font-size: 35px;
    }
}

@media screen and (max-width: 360px){
    .titulo-jugador{
        margin-top: 20px;
        font-size: 27px;
    }
}

.carta{
    margin-top: 10px;
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

@media screen and (max-width: 768px){
    .carta{
        margin-top: 10px;
        width: 150px;
    }
}

@media screen and (max-width: 360px){
    .carta{
        width: 81px;
        left: 65px;
        margin-left: -50px;
    }
}

#computadora-cartas, #jugador-cartas{
    height: 250px;
}

@media screen and (max-width: 768px){
    #computadora-cartas, 
    #jugador-cartas{
        height: 260px;
    }
}

@media screen and (max-width: 360px){
    #computadora-cartas, 
    #jugador-cartas{
        height: 120px;
    }
}


